[system]
# 调试模式
debug = false

# 聚合营销API请求地址
requestUrl = http://lan.market.266.la/api/
# requestUrl = https://market.266.la/api/

# 聚合营销客户端KEY
client_key =

[app]
# 聚合营销应用KEY
app_key =

# 聚合营销应用密钥
app_secret =
